@{
    Layout = "layout.cshtml";
}


<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active">
            </li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                @RenderPage("carouselItemInner.cshtml")
                <br />
            </div>
            <div class="item">
                @RenderPage("carouselItemInner.cshtml")
            </div>
        </div>
    </div>
</body>

