@{
    var tOwner = "Артём";
}


<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/styles.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="~/js/layoutControls.js"></script>
        <title>Ежедневник</title>
    </head>
<body style="background-color: #eee8aa">
<div class="container" id="container">
    <form id="form1" runat="server">
        <div>
            <input id="Hidden1" type="hidden" runat="server"/>
            <asp:Button ID="Button1" runat="server" OnClientClick="abc()" Text="Button"
                        onclick="Button1_Click"/>
        </div>
    </form>
    @{ 
        protected void button1Click(object sender, EventArgs e)
        {
            Response.Write(Hidden1.Value);
        }
    }
    <div class="row" id="header">
        <div class="col-sm-10">
            <h1 class="text-center" id="header-text">Ежедневник задач по саморазвитию</h1>
        </div>
        <div class="col-sm-2" id="account-info">
            <div class="invisible">a</div>
            <div class="dropdown">
                <button id="owner-selector" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Артём
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="ownerSelect(this)">Артём</a></li>
                    <li><a href="#" onclick="ownerSelect(this)">Юля</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <div class="row" id="footer">
        <div class="col-sm-12 invisible">a</div>
        <div class="col-sm-2">
            <button class="btn btn-info" id="timer-start-btn" onclick="startStopTimer()">Запустить таймер</button>
            <button class="btn btn-info" id="timer-stop-btn" onclick="startStopTimer()">Остановить таймер</button>
            <div class="invisible">a</div>
        </div>
        <div class="col-sm-10 text-center"> a </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#myCarousel").carousel({ interval: false });
    });
    $(document).ready(function() {
        $("#timer-stop-btn").hide();
    });
</script>
</body>
</html>
